@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* outline: 1pt solid greenyellow; */
}

/* ===== Variables ===== */

:root {
  /* Colors */
  --orange: #fa8603;
  --red: #bb2233;
  --beige: #fae3cf;
  --black: #0a0f24;
  --pink-beige: #fff0f0;

  --light-green: #145f40;
  --dark-green: #0b2b2b;
  --beige-2: #ecdcc3;
  --pink: #ffb2c1;
  --shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;

  /* Fonts */
  --montserrat: "Montserrat", sans serif;
  --montserrat-alternates: "Montserrat Alternates", sans serif;

  --fs-xs: clamp(0.75rem, 0.7rem + 0.2vw, 0.875rem);
  --fs-sm: clamp(0.875rem, 0.8rem + 0.3vw, 1rem);
  --fs-md: clamp(1rem, 0.9rem + 0.4vw, 1.25rem);
  --fs-lg: clamp(1.25rem, 1.1rem + 0.6vw, 1.5rem);
  --fs-xl: clamp(1.5rem, 1.3rem + 0.8vw, 2rem);
  --fs-xxl: clamp(2rem, 1.7rem + 1vw, 3rem);

  /* Font weights */
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;

  --gap: 25px;
  --primary-clr: var(--beige-2);
  --accent-clr: var(--pink);
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
  font-weight: var(--weight-bold);
  line-height: 1.2;
}

.heading-1 {
  font-family: var(--montserrat-alternates);
  font-size: var(--fs-xxl);
}

.heading-2 {
  font-family: var(--montserrat);
  font-size: var(--fs-xl);
}

.heading-3 {
  font-family: var(--montserrat);
  font-size: var(--fs-lg);
}
.heading-4 {
  font-family: var(--montserrat);
  font-size: var(--fs-sm);
}

.body {
  font-family: var(--montserrat);
  font-size: var(--fs-sm);
  line-height: 1.6;
}

.label {
  font-family: var(--montserrat);
  font-size: var(--fs-xs);
  line-height: 1.6;
}

.font-color-beige {
  color: var(--beige-2);
}

.font-color-black {
  color: var(--dark-green);
}
.font-color-pink {
  color: var(--pink);
}

.app {
  background-color: var(--beige-2);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  max-width: 100vw;
}

.page {
  height: 100%;
}

.d-none {
  display: none;
}

/* * https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* ===== Flex & grid ===== */
.flex {
  display: flex;
}

.flex__column {
  flex-direction: column;
}

.grid {
  display: grid;
}

.grid__center {
  place-items: center;
}
